body {
    background-color: #074173;
     background-image: url(IMG/Illustration\ 7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    background-color: #58A399;
    font-family: 'Poppins', sans-serif;
    font-weight: medium;
}

.navbar-brand img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.card img {
    width: 1000px;
    height: auto;
    margin: 5PX;
} 

.imagen-icon {
    max-width: 100%; /* Ajusta la imagen al contenedor */
    height: auto; /* Mantiene la proporción */
    display: block; /* Evita que la imagen sobresalga del contenedor */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

.container {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

h1 {
    margin-bottom: 20px;
    color: #E2F4C5
}

.buttons {
    margin-bottom: 20px;
}

.btn {
    background-color: #58A399;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}


.btn:hover {
    background-color: #B0B7A8;
}

.img.container .lado-1 {
    display: flex;
    justify-content: space-between; 
    flex-direction: row; 
    align-items: center;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #A8CD9F;
    text-align: center;
    margin: 20px;

}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #E2F4C5;
    font-weight: 600;
}

li {
    font-family: 'Montserrat', sans-serif;
    color: #E2F4C5;
    font-weight: 600;
}

.products {
    margin: 20px;
    background-color: #58A399;
    border-radius: 20px;
}

.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    background-color: #A8CD9F;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card .front img {
    width: 70%;
    height: auto;
    max-height: 75%;
    object-fit: cover;
}

.card .front h3 {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    color: #E2F4C5;

}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background-color: #A8CD9F;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

.carousel-caption h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-shadow: 
        1px 1px 0 #074173, /* Sombra inferior derecha */
        -1px -1px 0 #074173, /* Sombra superior izquierda */
        1px -1px 0 #074173, /* Sombra superior derecha */
        -1px 1px 0 #074173; /* Sombra inferior izquierda */
    
}

.carousel-caption p {
    font-family: 'Montserrat';
    font-weight: bold;
    color: #fff

}

.text-exp h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #e2f4c5;

}

.text-exp p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #b0b7a8;

}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #B0B7A8;
    color: black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    padding-top: 30px;
}

.footer p {
    font-size: smaller;
}

.footer-copyright {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid rgb(167, 167, 167);
}

.footer-link a {
    text-decoration: none;
    color: black;
}

.footer-link a:hover {
    color: #074173;
}

.footer-logo {
    color: #000;
}

.col img {
    width: 20px;
    height: 20px;
}